Week 1 Assignment

Abhishek Sebastian - 20BEC1118 - VIT Chennai

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Task 1: Create a pandas dataframe with numpy random values
np.random.seed(42)  # Setting seed for reproducibility

data = np.random.randn(4, 4)  # Generating random values
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])

In [ ]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

In [ ]:
# Task 2: Rename the dataframe column names
df.rename(columns={'Random value 1': 'Renamed value 1', 'Random value 2': 'Renamed value 2',
                   'Random value 3': 'Renamed value 3', 'Random value 4': 'Renamed value 4'}, inplace=True)

In [ ]:
df

   Renamed value 1  Renamed value 2  Renamed value 3  Renamed value 4
0         0.496714        -0.138264         0.647689         1.523030
1        -0.234153        -0.234137         1.579213         0.767435
2        -0.469474         0.542560        -0.463418        -0.465730
3         0.241962        -1.913280        -1.724918        -0.562288

In [ ]:
# Task 3: Find the descriptive statistics of the dataframe
statistics = df.describe()
print(statistics)

       Renamed value 1  Renamed value 2  Renamed value 3  Renamed value 4
count         4.000000         4.000000         4.000000         4.000000
mean          0.008762        -0.435780         0.009641         0.315612
std           0.439772         1.043924         1.426317         1.007175
min          -0.469474        -1.913280        -1.724918        -0.562288
25%          -0.292984        -0.653923        -0.778793        -0.489869
50%           0.003904        -0.186201         0.092135         0.150852
75%           0.305650         0.031942         0.880570         0.956334
max           0.496714         0.542560         1.579213         1.523030

In [ ]:
# Task 4: Check for null values and data types of columns
null_counts = df.isnull().sum()
data_types = df.dtypes
print("Null Values:\n", null_counts)
print("\nData Types:\n", data_types)

Null Values:
 Renamed value 1    0
Renamed value 2    0
Renamed value 3    0
Renamed value 4    0
dtype: int64

Data Types:
 Renamed value 1    float64
Renamed value 2    float64
Renamed value 3    float64
Renamed value 4    float64
dtype: object

In [ ]:
# Task 5: Display 'Renamed value 2' and 'Renamed value 3' columns using location method and index location method
random_value_2_loc = df.loc[:, 'Renamed value 2']
random_value_3_loc = df.loc[:, 'Renamed value 3']

random_value_2_idx = df.iloc[:, 1]
random_value_3_idx = df.iloc[:, 2]

print("\nRandom value 2 (Location method):\n", random_value_2_loc)
print("\nRandom value 3 (Location method):\n", random_value_3_loc)
print("\nRandom value 2 (Index location method):\n", random_value_2_idx)
print("\nRandom value 3 (Index location method):\n", random_value_3_idx)

Random value 2 (Location method):
 0   -0.138264
1   -0.234137
2    0.542560
3   -1.913280
Name: Renamed value 2, dtype: float64

Random value 3 (Location method):
 0    0.647689
1    1.579213
2   -0.463418
3   -1.724918
Name: Renamed value 3, dtype: float64

Random value 2 (Index location method):
 0   -0.138264
1   -0.234137
2    0.542560
3   -1.913280
Name: Renamed value 2, dtype: float64

Random value 3 (Index location method):
 0    0.647689
1    1.579213
2   -0.463418
3   -1.724918
Name: Renamed value 3, dtype: float64